html {
  scroll-behavior: smooth;
}
body {
  background-color: #eef0eb;
  font-family: montserrat, sans-serif;
  color: #1f1c1b;
}
.bar {
  background-color: #686e5d;
  width: 390px;
  height: 54px;
  position: absolute;
  top: 0px;
}
.nav {
  position: relative;
  top: 60px;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eef0eb;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}

.header {
  .menu-about {
    margin-top: 100px;
  }
  .name {
    width: 281px;
    height: 88px;
    color: #686e5d;
    font-size: 36px;
    font-weight: 400;
    margin-left: 30px;
  }
  .graphic-web {
    width: 292px;
    height: 99px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 73px;
  }
  .graphic {
    font-family: 'pt-serif';
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
  }
  .link {
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    border-radius: 70px;
    border: 1.5px solid #1f1c1b;
    display: flex;
    flex-direction: column;
  }
  .linkedin {
    width: 124px;
    margin-left: 44px;
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  .instagram {
    width: 149px;
    margin-left: 195px;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  .behance {
    width: 127px;
    margin-left: 73px;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
}
.main {
  margin-top: 70px;
  width: 390px;
  display: flex;
  justify-content: center;
  .about-button {
    font-family: montserrat;
    font-weight: 400;
    font-size: 20px;
    width: 108px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 70px;
    background-color: #686e5d;
    color: #eef0eb;
    display: flex;
    justify-content: center;
  }
  .aboutme {
    font-size: 20px;
    width: 337px;
    height: 385px;
    letter-spacing: 3%;
    line-height: 2.2;
    text-align: center;
  }
  .img-1 {
    border-radius: 60px 15px 60px 15px;
    border: solid 1.5px #1f1c1b;
    margin-top: -60px;
  }
  .img-2 {
    border-radius: 60px 15px 15px 15px;
    border: solid 1.5px #1f1c1b;
    margin-left: 169px;
    margin-top: -66px;
  }
  .img-3 {
    border-radius: 15px 60px 15px 60px;
    border: solid 1.5px #1f1c1b;
  }
  .img-3 {
    border-radius: 15px 60px 15px 60px;
    border: solid 1.5px #1f1c1b;
    margin-left: 37px;
    margin-top: 22px;
  }
}
