html {
  scroll-behavior: smooth;
}
body {
  background-color: #eef0eb;
  font-family: "montserrat", sans-serif;
  color: #1f1c1b;
}
.bar {
  background-color: #686e5d;
  width: 390px;
  height: 54px;
  position: absolute;
  top: 0px;
}
.nav {
  position: relative;
  top: 60px;
}

.nav {
  .menu-about {
    margin-top: 100px;
  }
  .name {
    width: 281px;
    height: 88px;
    color: #686e5d;
    font-size: 36px;
    font-weight: 400;
    margin-left: 30px;
  }
  .graphic-web {
    font-family:"pt serif", serif;
    width: 292px;
    height: 99px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 73px;
  }
  .graphic {
    font-family:"pt serif", serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
  }
  .link {
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    border-radius: 70px;
    border: 1.5px solid #1f1c1b;
    display: flex;
    flex-direction: column;
  }
  .linkedin {
    width: 124px;
    margin-left: 44px;
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  .instagram {
    width: 149px;
    margin-left: 195px;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  .behance {
    width: 127px;
    margin-left: 73px;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
}
.main {
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 390px;
  display: flex;
  justify-content: center;
  .about-button {
   
    font-family: "montserrat";
    font-weight: 400;
    font-size: 20px;
    width: 108px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 70px;
    background-color: #686e5d;
    color: #eef0eb;
    display: flex;
    justify-content: center;
  }
  .aboutme {
    font-size: 20px;
    width: 337px;
    height: 385px;
    letter-spacing: 3%;
    line-height: 2.2;
    text-align: center;
  }
  .img-1 {
    border-radius: 60px 15px 60px 15px;
    border: solid 1.5px #1f1c1b;
    margin-top: -60px;
  }
  .img-2 {
    border-radius: 60px 15px 15px 15px;
    border: solid 1.5px #1f1c1b;
    margin-left: 169px;
    margin-top: -66px;
  }
  .img-3 {
    border-radius: 15px 60px 15px 60px;
    border: solid 1.5px #1f1c1b;
  }
  .img-3 {
    border-radius: 15px 60px 15px 60px;
    border: solid 1.5px #1f1c1b;
    margin-left: 37px;
    margin-top: 22px;
  }
  .skill{
    font-family:"pt serif", sans-serif ;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
  }
  .skilllist{
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 400;
  }
}
.line{
  margin-top: 8px;
  margin-bottom: 8px;
  border-top:#1f1c1b solid 2px;
  width: 328px;
}
.language{
  font-family:"pt serif", sans-serif ;
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
}
.languagelist{
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
}
